@import url(./banner.css);

body{
    background-color: #003E52;
    font-family: 'Vidaloka', serif;
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: #bc955c;
}
/* ...... nav big picutre ...... */
nav{
    width: 100%;
    margin-bottom: 6vw;
}

nav img:nth-child(1){ 
    width: 100%;
}

.line{
    height: auto;
    width: 70%;
    border-bottom: 2px solid #bc955c ;
    margin: 0 auto;
    margin-bottom: 6vw;
    padding-bottom: 30px ;
}

.line h1{
    font-size: 2vw;
    text-align: center;
}

nav img:nth-child(2){
    width: 100%;
    display: none;
}
/* ...... filter ....... */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.filter-btn {
    border: none;
    color: white ;
    font-weight: bold   ;
    background-color: #bc955c;
    padding: 16px 0px;
    text-align: center;
    font-size: 18px;
    text-align: center;
    width: 150px;
    transition: all 0.3s ease;
    border-radius: 10px;
    margin: 20px;
    border: 5px solid #bc955c ;
}

.filter-btn:hover,

.filter-btn.active {
    background-color: #003E52;
    cursor:pointer;
    color:#bc955c ;
    border: 5px solid #bc955c ;
}

.product {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.pic img {
  max-width: 100%;
}

h3 {
  margin-top: 10px;
}


/* ...... product list ...... */
article{
    width: 85%;
    margin: 0 auto;
    border-bottom: 2px solid #bc955c ;
}

article ul{
    /* outline: 10px solid red; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 50px;
    justify-content: space-around;
}

article li{
    width: 284px;
    margin-top: 8px;
    cursor: pointer;
}

article img{
    display: block;
    width: 100%;
    box-shadow: 2 2 2px rgba(188, 149, 92, 1);
}

article h3{
    font-size: 24px;
    font-weight: normal;
    background-color: #003E52;
    height: 90px;
    padding-top: 10px;
    color: #bc955c ;
    text-align: center;
}

article p{
    background-color: #003E52;
    font-size: 20px;
    color: #bc955c;
    text-align: end;
    padding-right: 2vw;
}

article a {
    display: block;
}

/* hover */

.pic{width:100%;overflow:hidden;}
.pic img{transform:scale(1,1);transition: all 1s ease-out;}
.pic img:hover{transform:scale(1.2,1.2);}



/* ...... gift card ...... */

.gift{
    width: 75%;
    margin: 3vw auto;
    padding: 3vw 0;
}

.giftcard{
    /* border:1px solid red; */
    margin: 0 auto;
    display: flex;
    width: 90%;
}
.text{
    padding-left: 3vw;
}

.gfit img{
    display: block;
    width: 40%;
    box-shadow: 50px 50px rgba(217, 217, 217, 0.7) ;
}

.gift ul{
    width: 80%;
    margin: 25px auto;
}

.gift h3{
    font-size: 3vw;
    margin: 1.5vw 0;
}

.gift p{
    font-size: 16px;
    width: 80%;
    margin-bottom: 30px;
}

.button1 {
    width: 250px;
    height: 40px;
    margin: 10px 0;
    background:  #003E52;
    border: 2px solid #C8C8C8;
    color: #bc955c;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

select {
    width: 250px;
    height: 40px;
    display: block;
    border: 2px solid #C8C8C8;
    margin: 10px 0;

}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-10 2:34:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}




@media(max-width: 415px){
    nav img:nth-child(1){
        display: none;
    }
    nav img:nth-child(2){
        display: block;
        max-width: 414px;
        height: auto;
    }

    .line{
        /* border:1px solid red; */
        height: auto;
        width:80%;
        padding-top: 5vw;
        padding-bottom: 6vw;
    }

    .line h1{
        font-size: 20px;
    }

    article li{
        width: 90%;
        /* height: 432px; */
        padding: 8px;
        /* flex-grow: 1; */
    }

    /* ...... gift card ...... */

.gift{
    width: 98%;
    margin: 20px auto;
    /* border:1px solid green; */
}

.giftcard{
    /* border:1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.gift img{
    display: block;
    max-width: 100%;
    height: auto;
}
.text{
    padding-left: 3vw;
    display: flex;
    flex-wrap: wrap;
}

.gift .text h3{
    font-size: 25px;
}


.gift h3{
    font-size: 3vw;
    margin: 30px 0;
}

.gift p{
    font-size: 18px;
    width: 80%;
    margin-bottom: 30px;
}

.button1 {
    width: 250px;
    height: 40px;
    margin: 10px 0;
    background:  #003E52;
    border: 2px solid #C8C8C8;
    color: #bc955c;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

select {
    width: 250px;
    height: 40px;
    display: block;
    border: 2px solid #C8C8C8;
    margin: 10px 0;

}

.menu-list{
    top:98.59px;

}

.filter-btn {
    color: white ;
    font-weight: bolder ;
    background-color: #bc955c;
    padding: 10px 0px;
    text-align: center;
    font-size: 13px;
    text-align: center;
    width: 60px;
    transition: all 0.3s ease;
    border-radius: 5px;
    /* margin: 20px; */
    border: 5px solid #bc955c ;
}



    
}
